{{ define "title" }}404 - Page Missing{{ end }} {{ define "main" }}
<article>
  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <h1 class="card-header">
            <center>
              <h1>Error - Page Missing</h1>
            </center>
          </h1>
          <div class="card-body">
            <p>Is it one of these pages?</p>
            <ul>
              {{ range (.Pages).ByTitle }}
              <li>
                <a href="{{.Permalink}}">{{.Title}}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
{{ end }}