{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">Notes On Using</span>
                    <br>
                    <span class="major_line">Data Science &amp; Machine Learning</span>
                    <br>
                    <span class="minor_line">To Fight For Something That Matters</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">
                <p>
                    <a href="about/chris_albon/">I am the Director of Machine Learning</a> at the <a href="https://wikimediafoundation.org/">Wikimedia Foundation</a>. I have spent over a decade applying statistical learning, artificial intelligence, and software engineering to political, social, and humanitarian
                    efforts.</p>

                <p>Learning machine learning? Check out my
                    <a href="https://machinelearningflashcards.com">Machine Learning Flashcards</a>, my book (<a href="https://amzn.to/2HwnWty">Machine Learning With Python Cookbook</a>), or come <a href="https://www.youtube.com/channel/UCnd4Fi-ODvuPbxR2fO2j7kA">study with me</a>.</p> 
            </div>
        </div>

        <div class="row" id="machine_learning">
            <div class="col-sm-12">
                <h3 class="category_header">Machine Learning</h3>
            </div>
        </div>

        <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-header">Basics</h4>
                        <div class="card-body">
                            <ul>
                                {{ $pages := .Pages }}
                                {{ if .IsHome }}
                                    {{ $pages = .Site.RegularPages }}
                                {{ end }}
                                {{ range (where $pages "File.Dir" "in" "/machine_learning/basics/") }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Vectors, Matrices, And Arrays</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/vectors_matrices_and_arrays/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Preprocessing Structured Data</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/preprocessing_structured_data/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Preprocessing Images</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/preprocessing_images/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Preprocessing Text</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/preprocessing_text/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Preprocessing Dates And Times</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/preprocessing_dates_and_times/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Feature Engineering</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/feature_engineering/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Feature Selection</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/feature_selection/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Model Evaluation</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/model_evaluation/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Model Selection</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/model_selection/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Linear Regression</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/linear_regression/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Logistic Regression</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/logistic_regression/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Trees And Forests</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/trees_and_forests/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Nearest Neighbors</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/nearest_neighbors/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Support Vector Machines</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/support_vector_machines/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Naive Bayes</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/naive_bayes/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Clustering</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning/clustering/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="deep_learning">
            <div class="col-sm-12">
                <h3 class="category_header">Deep Learning</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Setup</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/deep_learning/setup/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Keras</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/deep_learning/keras/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">PyTorch</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/deep_learning/pytorch/basics/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="python">
            <div class="col-sm-12">
                <h3 class="category_header">Python</h3>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/python/basics/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Data Wrangling</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/python/data_wrangling/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Data Visualization</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/python/data_visualization/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Web Scraping</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/python/web_scraping/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Testing</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/python/testing/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Logging</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/python/logging/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Other</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/python/other/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="statistics">
            <div class="col-sm-12">
                <h3 class="category_header">Statistics</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/statistics/basics/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Frequentist</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/statistics/frequentist/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="scala">
            <div class="col-sm-12">
                <h3 class="category_header">Scala</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/scala/basics/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="regex">
            <div class="col-sm-12">
                <h3 class="category_header">Regular Expressions</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/regex/patterns/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="snowflake">
            <div class="col-sm-12">
                <h3 class="category_header">Snowflake</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/snowflake/sql/basics/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Tables</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/snowflake/sql/tables/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="postgresql">
            <div class="col-sm-12">
                <h3 class="category_header">PostgreSQL</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/postgresql/basics/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Add, Delete, Change Rows</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/postgresql/add_delete_change/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Merging And Joining</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/postgresql/merging_and_joining/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Tables</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/postgresql/tables/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Text</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/postgresql/text/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Numeric</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/postgresql/numeric/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Dates</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/postgresql/dates/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Interview Questions</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/postgresql/interview_questions/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="mathematics">
            <div class="col-sm-12">
                <h3 class="category_header">Mathematics</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/mathematics/basics/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="aws">
            <div class="col-sm-12">
                <h3 class="category_header">AWS</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/aws/basics/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/aws/s3/cli/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/s3/boto/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="computer_science">
            <div class="col-sm-12">
                <h3 class="category_header">Computer Science</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Algorithms</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/computer_science/algorithms/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="linux">
            <div class="col-sm-12">
                <h3 class="category_header">Linux Command Line</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/linux/basics/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Inputs And Outputs</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/linux/inputs_and_outputs/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Search</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/linux/search/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Text</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/linux/text/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Flow Control</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/linux/flow_control/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Processes</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/linux/processes/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Shell Scripts</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/linux/shell_scripts/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="git_and_github">
            <div class="col-sm-12">
                <h3 class="category_header">Git And GitHub</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/git_and_github/basics/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="machine_learning_engineering">
            <div class="col-sm-12">
                <h3 class="category_header">Machine Learning Engineering</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">YAML</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning_engineering/yaml/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Kubeflow</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/machine_learning_engineering/kubeflow/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="docker">
            <div class="col-sm-12">
                <h3 class="category_header">Docker</h3>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Command Line</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/docker/command_line/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Dockerfiles</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/docker/dockerfiles/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Docker Compose</h4>
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/docker/docker_compose/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="php">
            <div class="col-sm-12">
                <h3 class="category_header">PHP</h3>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/php/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

<!--
        <div class="row" id="less-harmful-ai">
            <div class="col-sm-12">
                <h3 class="category_header">Less Harmful AI</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 blurb">
                <p class='mb-0'>This is a series of posts exploring the practical side of building less harmful machine learning systems. For the latest posts in this series, subscribe to the <a href="https://chrisalbon.substack.com/subscribe">Less Harmful AI newsletter</a>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="article_list card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/less-harmful-ai/") }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
-->
        <div class="row" id="articles">
            <div class="col-sm-12">
                <h3 class="category_header">Articles<!-- <a style="float: right;" href="{{ .Site.BaseURL }}/articles/index.xml">RSS</a>-->
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="article_list card-body">
                        <ul>
                            {{ $pages := .Pages }}
                            {{ if .IsHome }}
                                {{ $pages = .Site.RegularPages }}
                            {{ end }}
                            {{ range (where $pages "File.Dir" "in" "/articles/") }}
                            <li>
                                <!-- {{ .PublishDate.Format "Jan 2006" }} -->
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>
{{ end }}